LARAVEL_ACTIVITY_TRACKER_DATABASE_CONNECTION=mysql
LARAVEL_ACTIVITY_TRACKER_DATABASE_TABLE=laravel_activity_tracker
LARAVEL_ACTIVITY_TRACKER_ROLES_ENABLED=true
LARAVEL_ACTIVITY_TRACKER_ROLES_MIDDLWARE=role:admin
# LARAVEL_ACTIVITY_TRACKER_ROLE_MODEL=App\Models\Role
LARAVEL_ACTIVITY_TRACKER_MIDDLEWARE_ENABLED=true
LARAVEL_ACTIVITY_TRACKER_MIDDLEWARE_EXCEPT=ignore1pattern1,ignorepattern2
LARAVEL_ACTIVITY_TRACKER_USER_MODEL=App\Models\User
LARAVEL_ACTIVITY_TRACKER_USER_ID_FIELD=id
LARAVEL_ACTIVITY_TRACKER_DISABLE_ROUTES=false
LARAVEL_ACTIVITY_TRACKER_PAGINATION_ENABLED=true
LARAVEL_ACTIVITY_TRACKER_PAGINATION_PER_PAGE=25
LARAVEL_ACTIVITY_TRACKER_DATATABLES_ENABLED=true
LARAVEL_ACTIVITY_TRACKER_DASHBOARD_MENU_ENABLED=true
LARAVEL_ACTIVITY_TRACKER_DASHBOARD_DRILLABLE=true
LARAVEL_ACTIVITY_TRACKER_LOG_RECORD_FAILURES_TO_FILE=true
LARAVEL_ACTIVITY_TRACKER_FLASH_MESSAGE_BLADE_ENABLED=true
LARAVEL_ACTIVITY_TRACKER_JQUERY_CDN_ENABLED=true
LARAVEL_ACTIVITY_TRACKER_JQUERY_CDN_URL=https://code.jquery.com/jquery-2.2.4.min.js
LARAVEL_ACTIVITY_TRACKER_BLADE_CSS_PLACEMENT_ENABLED=false
LARAVEL_ACTIVITY_TRACKER_BLADE_JS_PLACEMENT_ENABLED=false
LARAVEL_ACTIVITY_TRACKER_BOOTSTRAP_JS_CDN_ENABLED=true
LARAVEL_ACTIVITY_TRACKER_BOOTSTRAP_JS_CDN_URL=https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js
LARAVEL_ACTIVITY_TRACKER_FONT_AWESOME_CDN_ENABLED=true
LARAVEL_ACTIVITY_TRACKER_FONT_AWESOME_CDN_URL=https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css
LARAVEL_ACTIVITY_TRACKER_BOOTSTRAP_CSS_CDN_ENABLED=true
LARAVEL_ACTIVITY_TRACKER_BOOTSTRAP_CSS_CDN_URL=https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css
LARAVEL_ACTIVITY_TRACKER_POPPER_JS_CDN_URL=https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js
LARAVEL_ACTIVITY_TRACKER_BLADE_PLACEMENT=yield
LARAVEL_ACTIVITY_TRACKER_BLADE_PLACEMENT_CSS=template_linked_css
LARAVEL_ACTIVITY_TRACKER_BLADE_PLACEMENT_JS=footer_scripts
